<div class="d-flex flex-wrap justify-content-evenly dashboard-element-boxes">
    <div class="dashboard-boxes col-md-3 p-3 ">
        <b>Plankton</b>
        <p>Microscopic organisms drifting in water bodies, consisting of phytoplankton (plant-like) and zooplankton
            (animal-like), essential for aquatic food webs and carbon cycling.</p>

        <div class="col-12 d-flex justify-content-end">
            <button class="border-0 bg-transparent hover-effect">more info</button>
        </div>
    </div>
    <div class="dashboard-boxes col-md-2 p-3 ">
        <b>Aerosol</b>
        <p>Tiny solid or liquid particles suspended in the atmosphere that can affect climate, air quality, and
            cloud formation.</p>
        <div class="col-12 d-flex justify-content-end">
            <button class="border-0 bg-transparent hover-effect">more info</button>
        </div>
    </div>
    <div class="dashboard-boxes col-md-3 p-3 ">

        <b>Cloud</b>
        <p>A visible mass of condensed water vapor in the atmosphere, playing a critical role in weather and climate
            by influencing energy balance and precipitation.</p>
        <div class="col-12 d-flex justify-content-end">
            <button class="border-0 bg-transparent hover-effect">more info</button>
        </div>
    </div>
    <div class="dashboard-boxes col-md-3 p-3 ">

        <b>Ecosystem</b>
        <p>A dynamic environment that includes various marine organisms, habitats, and physical and chemical
            processes, crucial for biodiversity and global climate regulation.</p>
        <div class="col-12 d-flex justify-content-end">
            <button class="border-0 bg-transparent hover-effect">more info</button>
        </div>
    </div>
</div>