<div class="lesson-answers visible" id="topic1">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt quis tenetur, veniam placeat vel facere laudantium enim quas illo, quaerat aspernatur? Commodi tempore, in laboriosam vitae delectus ratione laudantium eius?
    Doloribus magnam temporibus obcaecati repudiandae corrupti dolorum laborum vero accusamus voluptate itaque, delectus repellat eos sed ipsam libero laboriosam eligendi et. Quasi fuga amet ea ducimus officia accusamus magnam sapiente.
    Quod iusto impedit itaque dolorem sint fuga quibusdam nobis, voluptatibus accusamus deserunt? Laudantium, temporibus id dolorem quis facilis corporis eligendi reiciendis exercitationem! Ut et dolor dolorum assumenda fuga in sunt?
    Odio molestias quod sit laudantium dolorum. Dolorem praesentium laboriosam, sit ipsa voluptates omnis facilis veritatis unde fugiat ab hic aut explicabo incidunt quae laborum provident. Voluptate eum culpa dolor sint?
    Incidunt cum eveniet quisquam assumenda nesciunt aliquid, alias voluptatum ad quae sint voluptatibus animi soluta veniam quibusdam minima! Nam, eligendi temporibus earum minus possimus maxime sit nesciunt provident atque fugit?
    Odio tempora natus nihil assumenda velit. Qui, incidunt. Quae, similique reprehenderit. Officia dolorem dolore commodi tempora fuga eius aut, laboriosam modi laudantium aperiam nemo tempore aliquid debitis, sunt cum porro?
    Earum voluptas sequi quo, fugiat corrupti maiores fuga porro, repudiandae obcaecati distinctio molestiae? Fugit ab numquam repellat placeat, eos ipsa quisquam natus. Doloribus cum non unde laborum! Sit, repellendus necessitatibus.
    Quod consequuntur fugiat quas fugit voluptatum natus, provident aut possimus ex beatae ducimus, quo nobis. Corporis culpa nemo neque, fugit facere maxime enim quos sapiente tempora inventore perferendis ratione? Veritatis!
    Magnam accusamus rem mollitia impedit illum aliquid magni? Dolore, impedit quis commodi inventore ullam quos quibusdam explicabo quia consequuntur in ipsam expedita reprehenderit fugit eius officia dolor odio, ex hic?
    Temporibus nam non ipsa cupiditate harum consectetur, nihil ipsam soluta obcaecati autem beatae laboriosam omnis hic blanditiis excepturi dolores, corporis vero, reiciendis sed quos? Dolorem inventore repudiandae eligendi quod repellat!
    Ipsa non et sed enim vel tenetur consectetur, necessitatibus asperiores officiis, animi nesciunt molestias molestiae magnam eligendi atque nemo minus vitae sint officia mollitia qui quaerat. Quisquam expedita quos dolorum!
    Sit saepe dolorum in amet, labore optio corrupti inventore neque rerum quod iusto animi suscipit excepturi repellendus delectus, obcaecati vitae, est quasi? Saepe accusamus voluptatibus modi impedit obcaecati deleniti et?
    Quidem provident excepturi laudantium omnis eveniet exercitationem. Atque, obcaecati quod neque quisquam, ipsam repellat eos nihil facilis porro molestias reiciendis totam! Nihil ea, illum inventore quas provident minus incidunt quibusdam.
    Magnam, cumque nemo possimus dolores sed dolorum cupiditate voluptatem. Esse incidunt culpa voluptates, similique eum excepturi distinctio maxime beatae. Numquam optio est iste unde eum laudantium! Quisquam nam nemo quae!
    Vitae sit nemo error cupiditate? Quos libero omnis quis, facilis alias magni quasi laborum ad exercitationem, nostrum eligendi nihil perferendis quas, laudantium adipisci voluptate officiis quo reprehenderit recusandae optio modi.
    Numquam a, quo doloremque ducimus amet deleniti tenetur nesciunt unde velit sapiente saepe? Aut nisi repellat accusamus voluptas, ea nam iste quia, cumque delectus atque consequuntur aliquam. Molestias, quia iste?
    Optio ducimus ipsa suscipit accusantium tempore accusamus praesentium et distinctio commodi perferendis, ullam excepturi aperiam eius fugiat aliquid dolor eum earum beatae natus laboriosam doloribus enim voluptatibus vero modi. Debitis.
    Repellat molestiae dignissimos dicta consectetur, eius accusamus culpa totam provident distinctio nesciunt! Impedit aspernatur assumenda nulla optio, minima dicta consequatur et, veritatis fuga asperiores dignissimos cupiditate vel incidunt dolorum fugit.
    Sequi autem consequatur facilis quod, illo similique quas saepe fuga quibusdam veniam quasi sunt enim placeat hic expedita iste sed consectetur eius vero delectus nesciunt minus earum dolorum reiciendis! Odio?
    Qui corporis culpa dolorem nihil rerum molestias tempore sit, quam dicta in esse nisi. Quis vitae esse qui earum consequatur reprehenderit nesciunt, illum neque, facere eum sequi delectus ex molestias.
    Velit nesciunt fugiat quas eveniet provident deserunt id, consectetur error aspernatur ad ut illum officiis unde veritatis quasi fuga ratione ipsum sed earum! Voluptate quo accusamus quia voluptatem quod. Molestias.
    Incidunt doloremque ad illo vero quo ipsam perferendis blanditiis, iusto molestiae? Aspernatur, beatae blanditiis nisi quasi obcaecati laudantium at architecto officia cumque recusandae tempora non earum veritatis laboriosam saepe quam.
    Debitis aut rerum ut rem natus soluta earum a iste reiciendis aliquid? Rem impedit aut error fugiat, iste quae sint alias culpa ut modi magni, cupiditate doloribus soluta officia? Excepturi?
    Amet quis corporis asperiores quaerat ut. Minus, deleniti eum quaerat eius numquam inventore similique consectetur, architecto accusamus laborum quae voluptates magnam ex velit consequuntur esse aperiam et, molestias fugiat. Quidem!
    Corrupti, et? Labore illo, atque odit id quod, eos nam voluptatibus adipisci laborum perferendis ea dicta quia aliquid eum quam, similique ad modi impedit magni optio repudiandae laboriosam. Voluptatibus, ad!
    Earum, enim? Reiciendis non quidem aut ullam corrupti, quis vel voluptates a provident, natus iste eveniet fugit accusamus consequatur odit atque placeat voluptatem. Enim, fugit minima! Id corporis iusto eveniet?
    Voluptatibus, velit ab doloremque, suscipit consequatur hic eveniet quo expedita fuga non perspiciatis vero et corporis laudantium esse repellat veritatis ad officia temporibus! Ex eaque quia vero nostrum nisi eius?
    Ad repellat vero alias repudiandae cumque maiores fugiat labore odio dolorem? Ab ad rem consectetur, natus eius eos praesentium, commodi modi officia debitis similique veritatis. Atque ex quae reprehenderit tempore.
    Perferendis beatae rem voluptatibus eveniet nesciunt molestias veritatis, eum doloribus sint aut quibusdam enim voluptate suscipit exercitationem quisquam voluptatum quis ducimus magnam ad temporibus consectetur alias ipsam nobis maiores? Iste.
    Quos nisi vitae itaque saepe perferendis quia, blanditiis reiciendis aspernatur assumenda. Debitis, unde nam saepe voluptatibus perspiciatis maiores corrupti ex laudantium ipsa vitae a provident, distinctio nemo labore excepturi placeat!
    Impedit reiciendis voluptas temporibus incidunt, adipisci, qui voluptate tempora facilis veritatis, deserunt eius facere repellat sunt in ipsum! Ea rerum quisquam, voluptatum necessitatibus saepe facere error dolores excepturi esse consectetur.
    Nobis expedita doloremque voluptatum, quasi accusantium quae rem? Unde doloribus corporis sequi dolor aspernatur ipsam at facilis vel cum eligendi non suscipit, maiores quo et soluta hic quaerat ullam? Assumenda.
    Similique reprehenderit harum inventore totam consectetur accusamus ad laudantium est dolores et temporibus quibusdam, unde atque veritatis necessitatibus quasi cupiditate. Voluptatem, consequuntur. Id alias odio fugit hic quaerat quidem eum.
    Provident, nam. Odio saepe soluta dolorum, sunt officiis et excepturi? Corrupti amet, mollitia accusamus excepturi veritatis temporibus eos assumenda exercitationem, voluptate, quisquam vitae obcaecati! Laboriosam asperiores quia ex adipisci aliquam?
    Aliquam similique animi officia maiores numquam, quae laborum doloremque, itaque libero tempora necessitatibus at fuga impedit dolore magnam nihil! Earum eum sunt dolorem, ea mollitia sit adipisci nihil dicta error?
    Ipsum est obcaecati nemo quibusdam, similique, nobis nesciunt neque facilis eos nisi libero placeat minus officiis exercitationem consequuntur soluta minima aliquam a cupiditate numquam eius commodi. Consequatur quas nulla quos.
    Voluptatem ipsum nisi quos inventore in voluptas dolores eius fugiat odio dolor sit magni nulla est, voluptate aperiam officiis illo expedita recusandae veritatis? Quibusdam expedita dignissimos neque asperiores consectetur reiciendis!
    Dolore, ut? Quam eaque facere vel qui necessitatibus odio cumque amet fugit. Eius ab soluta adipisci at, suscipit a eos autem ea commodi tempora quo error harum et quasi officia.
    Ipsum perspiciatis suscipit consectetur veritatis officia eius quidem cum, necessitatibus optio tempore iste voluptate molestias aliquam delectus voluptates! Temporibus ipsam quo ipsa at ratione optio rem natus ut libero nulla.
    Minima at soluta dolorum voluptatum unde aliquam molestias deleniti, iusto ipsam cumque perspiciatis architecto a tempora rem assumenda tempore corrupti eaque in dignissimos quibusdam provident rerum quas! Dolorem, cum! Illum.
    Temporibus rerum tempore culpa accusantium modi eaque at dolorem voluptates inventore earum quae, fuga, consequatur obcaecati perferendis praesentium. Minus fugit in fugiat error sit nesciunt sapiente ad officiis perspiciatis ullam!
    Perspiciatis repudiandae laudantium voluptas esse ut natus molestiae inventore nulla facilis, unde nihil nobis pariatur ullam consectetur deleniti quas sapiente! Quaerat reprehenderit voluptas rerum! Magni numquam odit sunt vitae atque?
    Assumenda consectetur obcaecati dicta labore, eos, quas iure numquam laborum, nostrum vero repudiandae nulla omnis culpa impedit neque? Tempora, excepturi eum. Consequuntur eaque eligendi magnam quaerat at voluptas delectus culpa.
    Maxime quas expedita officia error corporis et tenetur non quasi, architecto vel esse quam officiis. Tempore nisi, eos mollitia officiis similique quaerat reprehenderit suscipit, ut adipisci aliquid necessitatibus ipsum? Earum.
    Aperiam molestias sit, sed sapiente dicta exercitationem voluptate officia optio enim. Explicabo sunt, quos error reiciendis aut dolorem nisi in, pariatur a, nam aperiam nobis vero molestiae asperiores nemo quia.
    Illo accusantium asperiores perferendis dolorum provident ut quo doloribus, neque explicabo incidunt voluptate impedit corporis praesentium facere recusandae autem quidem aliquid. Praesentium, consectetur doloremque. Cupiditate atque ratione dignissimos quas ex.
    Deleniti, adipisci harum. Earum illo nobis aut suscipit, at fuga minima? Recusandae illum, accusantium similique molestiae, quos velit quaerat, eveniet pariatur commodi animi modi non in eos distinctio possimus quam.
    Saepe sapiente iste necessitatibus minus, quibusdam laborum nulla porro eligendi! Praesentium, dignissimos? Quam quibusdam nemo nostrum culpa assumenda tempore voluptatem obcaecati ipsam cumque ex suscipit, minus delectus incidunt vitae aperiam.
    Voluptatibus accusantium nulla alias, quisquam magni non repellendus facere a? Dolor quod voluptatem voluptas, non neque magni asperiores provident sapiente a fugiat voluptate, beatae nulla blanditiis consequatur aliquid reiciendis sed!
    Autem consequuntur optio laboriosam ratione architecto iure non tenetur, voluptates quibusdam dignissimos eos similique earum itaque pariatur dolor fuga nobis nostrum tempora provident. Totam aliquid qui enim delectus sunt! Est.
</div>
<div class="lesson-answers" id="topic2">second</div>
<div class="lesson-answers" id="topic3">third</div>
<div class="lesson-answers" id="topic4">fourth</div>
<div class="lesson-answers" id="topic5">first</div>
<div class="lesson-answers" id="topic6">first</div>
<div class="lesson-answers" id="topic7">first</div>
<div class="lesson-answers" id="topic8">first</div>
<div class="lesson-answers" id="topic9">first</div>
<div class="lesson-answers" id="topic10">first</div>
<div class="lesson-answers" id="topic11">first</div>
<div class="lesson-answers" id="topic12">first</div>
<div class="lesson-answers" id="topic13">first</div>
<div class="lesson-answers" id="topic14">first</div>
<div class="lesson-answers" id="topic15">first</div>
<div class="lesson-answers" id="topic16">first</div>
<div class="lesson-answers" id="topic17">first</div>
<div class="lesson-answers" id="topic18">first</div>
<div class="lesson-answers" id="topic19">first</div>
<div class="lesson-answers" id="topic20">first</div>
<div class="lesson-answers" id="topic21">first</div>
<div class="lesson-answers" id="topic22">first</div>
<div class="lesson-answers" id="topic23">first</div>
<div class="lesson-answers" id="topic24">first</div>
<div class="lesson-answers" id="topic25">first</div>
<div class="lesson-answers" id="topic26">first</div>
<div class="lesson-answers" id="topic27">first</div>
<div class="lesson-answers" id="topic28">first</div>
<div class="lesson-answers" id="topic29">first</div>
<div class="lesson-answers" id="topic30">first</div>
<div class="lesson-answers" id="topic31">first</div>
<div class="lesson-answers" id="topic32">first</div>
<div class="lesson-answers" id="topic33">first</div>
<div class="lesson-answers" id="topic34">first</div>
<div class="lesson-answers" id="topic35">first</div>
<div class="lesson-answers" id="topic36">first</div>
<div class="lesson-answers" id="topic37">first</div>
<div class="lesson-answers" id="topic38">first</div>
<div class="lesson-answers" id="topic39">first</div>
<div class="lesson-answers" id="topic40">first</div>
<div class="lesson-answers" id="topic41">first</div>
<div class="lesson-answers" id="topic42">first</div>
<div class="lesson-answers" id="topic43">first</div>
<div class="lesson-answers" id="topic44">first</div>
<div class="lesson-answers" id="topic45">first</div>
<div class="lesson-answers" id="topic46">first</div>