<div class="lesson-answers visible" id="topic1"></div>
<div class="lesson-answers" id="topic2">second</div>
<div class="lesson-answers" id="topic3">third</div>
<div class="lesson-answers" id="topic4">fourth</div>
<div class="lesson-answers" id="topic5">first</div>
<div class="lesson-answers" id="topic6">first</div>
<div class="lesson-answers" id="topic7">first</div>
<div class="lesson-answers" id="topic8">first</div>
<div class="lesson-answers" id="topic9">first</div>
<div class="lesson-answers" id="topic10">first</div>
<div class="lesson-answers" id="topic11">first</div>
<div class="lesson-answers" id="topic12">first</div>
<div class="lesson-answers" id="topic13">first</div>
<div class="lesson-answers" id="topic14">first</div>
<div class="lesson-answers" id="topic15">first</div>
<div class="lesson-answers" id="topic16">first</div>
<div class="lesson-answers" id="topic17">first</div>
<div class="lesson-answers" id="topic18">first</div>
<div class="lesson-answers" id="topic19">first</div>
<div class="lesson-answers" id="topic20">first</div>
<div class="lesson-answers" id="topic21">first</div>
<div class="lesson-answers" id="topic22">first</div>
<div class="lesson-answers" id="topic23">first</div>
<div class="lesson-answers" id="topic24">first</div>
<div class="lesson-answers" id="topic25">first</div>
<div class="lesson-answers" id="topic26">first</div>
<div class="lesson-answers" id="topic27">first</div>
<div class="lesson-answers" id="topic28">first</div>
<div class="lesson-answers" id="topic29">first</div>
<div class="lesson-answers" id="topic30">first</div>
<div class="lesson-answers" id="topic31">first</div>
<div class="lesson-answers" id="topic32">first</div>
<div class="lesson-answers" id="topic33">first</div>
<div class="lesson-answers" id="topic34">first</div>
<div class="lesson-answers" id="topic35">first</div>
<div class="lesson-answers" id="topic36">first</div>
<div class="lesson-answers" id="topic37">first</div>
<div class="lesson-answers" id="topic38">first</div>
<div class="lesson-answers" id="topic39">first</div>
<div class="lesson-answers" id="topic40">first</div>
<div class="lesson-answers" id="topic41">first</div>
<div class="lesson-answers" id="topic42">first</div>
<div class="lesson-answers" id="topic43">first</div>
<div class="lesson-answers" id="topic44">first</div>
<div class="lesson-answers" id="topic45">first</div>
<div class="lesson-answers" id="topic46">first</div>