<section id="introduction">
    <div class="intro" id="first1">first</div>
    <div class="intro" id="first2">sectond</div>
    <div class="intro" id="first3">third</div>
    <div class="intro" id="first4">fourth</div>
</section>
<section>

</section>
<section>

</section>
<section></section>
<section></section>
<section></section>
<section></section>
<section></section>
<section></section>
<section></section>
<section></section>

