<% layout("/layouts/layout.ejs") %>

    <div class="d-flex flex-wrap">
        <div class="offcanvas-body col-md-4">
            <button class="bg-transparent  border col-12 d-flex p-2" type="button" data-bs-toggle="collapse"
                data-bs-target="#lession1" aria-expanded="false" aria-controls="collapseExample">
                <span><i class="fa-solid fa-angle-right me-2"></i>Introduction to PACE</span>
            </button>
            <div class="collapse ms-4" id="lession1">
                <ol class="card card-body border-0 p-0">
                    <li class="my-1"> <p class="text-decoration-none text-primary lession-query" id="lession1">Welcome to PACE</p></li>
                    <li class="my-1"> <p class="text-decoration-none text-primary lession-query" >What is PACE ?</p></li>
                    <li class="my-1"> <p class="text-decoration-none text-primary lession-query" >History of PACE </p></li>
                    <li class="my-1"> <p class="text-decoration-none text-primary lession-query" >PACE Science</p></li>
                </ol>
            </div>
    
            <button class="bg-transparent  border col-12 d-flex p-2" type="button" data-bs-toggle="collapse"
                data-bs-target="#lession2" aria-expanded="false" aria-controls="collapseExample">
                <span><i class="fa-solid fa-angle-right me-2"></i>The PACE Satellite</span>
            </button>
            <div class="collapse ms-4" id="lession2">
                <ol class="card card-body border-0 p-0">
                    <li class="my-1"> <p class="text-decoration-none text-primary lession-query " >Satellite Design</p></li>
                    <li class="my-1"> <p class="text-decoration-none text-primary lession-query " >Purpose of Launching Satellite</p></li>
                    <li class="my-1"> <p class="text-decoration-none text-primary lession-query  " >Satellite Payload and Orbit </p></li>
                    <li class="my-1"> <p class="text-decoration-none text-primary lession-query  " >Earth Observation</p></li>
                </ol>
            </div>
    
            <button class="bg-transparent  border col-12 d-flex p-2" type="button" data-bs-toggle="collapse"
                data-bs-target="#lession3" aria-expanded="false" aria-controls="collapseExample">
                <span><i class="fa-solid fa-angle-right me-2"></i>PACE Instruments Overview</span>
            </button>
            <div class="collapse ms-4" id="lession3">
                <ol class="card card-body border-0 p-0">
                    <li class="my-1"> <p class="text-decoration-none text-primary lession-query  " >Introduction to onboad Instruments</p></li>
                    <li class="my-1"> <p class="text-decoration-none text-primary lession-query  " >Ocean Color Instrument (OCI)</p></li>
                    <li class="my-1"> <p class="text-decoration-none text-primary lession-query  " >Hyperspectral Imager for Climate Science (HICS)</p></li>
                    <li class="my-1"> <p class="text-decoration-none text-primary lession-query  " >Aerosol and Cloud Imager (ACI)</p></li>
                </ol>
            </div>
    
            <button class="bg-transparent  border col-12 d-flex p-2" type="button" data-bs-toggle="collapse"
                data-bs-target="#lession4" aria-expanded="false" aria-controls="collapseExample">
                <span><i class="fa-solid fa-angle-right me-2"></i>Understanding Ocean Color</span>
            </button>
            <div class="collapse ms-4" id="lession4">
                <ol class="card card-body border-0 p-0">
                    <li class="my-1"> <p class="text-decoration-none text-primary lession-query  " >Importance of Ocean Color</p></li>
                    <li class="my-1"> <p class="text-decoration-none text-primary lession-query  " >How it is measured ?</p></li>
                    <li class="my-1"> <p class="text-decoration-none text-primary lession-query  " >Chlorophyll</p></li>
                    <li class="my-1"> <p class="text-decoration-none text-primary lession-query  " >Fytoplancton</p></li>
                    <li class="my-1"> <p class="text-decoration-none text-primary lession-query  " >Absorbsion </p></li>
                    <li class="my-1"> <p class="text-decoration-none text-primary lession-query  " >Reflectance</p></li>
                </ol>
            </div>
    
            <button class="bg-transparent  border col-12 d-flex p-2" type="button" data-bs-toggle="collapse"
                data-bs-target="#lession5" aria-expanded="false" aria-controls="collapseExample">
                <span><i class="fa-solid fa-angle-right me-2"></i>Plankton and Their Role in Ecosystems</span>
            </button>
            <div class="collapse ms-4" id="lession5">
                <ol class="card card-body border-0 p-0">
                    <li class="my-1"> <p class="text-decoration-none text-primary lession-query  " >Types of Phytoplactons</p></li>
                    <li class="my-1"> <p class="text-decoration-none text-primary lession-query  " >Phytoplacton and Zooplancton </p></li>
                    <li class="my-1"> <p class="text-decoration-none text-primary lession-query  " >Their Significance in Marine Ecosystem</p></li>
                    <li class="my-1"> <p class="text-decoration-none text-primary lession-query  " >Primary Production and Food Web</p></li>
                </ol>
            </div>
    
            <button class="bg-transparent  border col-12 d-flex p-2" type="button" data-bs-toggle="collapse"
                data-bs-target="#lession6" aria-expanded="false" aria-controls="collapseExample">
                <span><i class="fa-solid fa-angle-right me-2"></i>Plankton Species Diversity</span>
            </button>
            <div class="collapse ms-4" id="lession6">
                <ol class="card card-body border-0 p-0">
                    <li class="my-1"> <p class="text-decoration-none text-primary lession-query  " >Introduction to various species of Plancton</p></li>
                    <li class="my-1"> <p class="text-decoration-none text-primary lession-query  " >Diatoms and Dinoflagellates</p></li>
                    <li class="my-1"> <p class="text-decoration-none text-primary lession-query  " >Taxonomy </p></li>
                    <li class="my-1"> <p class="text-decoration-none text-primary lession-query  " >Species Identification </p></li>
                    <li class="my-1"> <p class="text-decoration-none text-primary lession-query  " >Ecological Roles</p></li>
                </ol>
            </div>
    
            <button class="bg-transparent  border col-12 d-flex p-2" type="button" data-bs-toggle="collapse"
                data-bs-target="#lession7" aria-expanded="false" aria-controls="collapseExample">
                <span><i class="fa-solid fa-angle-right me-2"></i>Aerosols Overview</span>
            </button>
            <div class="collapse ms-4" id="lession7">
                <ol class="card card-body border-0 p-0">
                    <li class="my-1"> <p class="text-decoration-none text-primary lession-query  " >Understanding of Aerosols</p></li>
                    <li class="my-1"> <p class="text-decoration-none text-primary lession-query  " >Their effect on Climate and Ocean health</p></li>
                    <li class="my-1"> <p class="text-decoration-none text-primary lession-query  " >Types of Aerosols - Natural vs Anthropogenic </p></li>
                </ol>
            </div>
    
            <button class="bg-transparent  border col-12 d-flex p-2" type="button" data-bs-toggle="collapse"
                data-bs-target="#lession8" aria-expanded="false" aria-controls="collapseExample">
                <span><i class="fa-solid fa-angle-right me-2"></i>Cloud Properties and Their Importance</span>
            </button>
            <div class="collapse ms-4" id="lession8">
                <ol class="card card-body border-0 p-0">
                    <li class="my-1"> <p class="text-decoration-none text-primary lession-query  " >Role of Cloud in Earth's Climate Ecosystem</p></li>
                    <li class="my-1"> <p class="text-decoration-none text-primary lession-query  " >How they Measured ?</p></li>
                    <li class="my-1"> <p class="text-decoration-none text-primary lession-query  " >Cloud Cover</p></li>
                    <li class="my-1"> <p class="text-decoration-none text-primary lession-query  " >cloud optical properties</p></li>
                </ol>
            </div>
    
            <button class="bg-transparent  border col-12 d-flex p-2" type="button" data-bs-toggle="collapse"
                data-bs-target="#lession9" aria-expanded="false" aria-controls="collapseExample">
                <span><i class="fa-solid fa-angle-right me-2"></i>Ocean Ecosystem Health</span>
            </button>
            <div class="collapse ms-4" id="lession9">
                <ol class="card card-body border-0 p-0">
                    <li class="my-1"> <p class="text-decoration-none text-primary lession-query  " >Satellite Design</p></li>
                    <li class="my-1"> <p class="text-decoration-none text-primary lession-query  " >Purpose of Launching Satellite</p></li>
                    <li class="my-1"> <p class="text-decoration-none text-primary lession-query  " >Satellite Payload and Orbit </p></li>
                    <li class="my-1"> <p class="text-decoration-none text-primary lession-query  " >Earth Observation</p></li>
                </ol>
            </div>
    
            <button class="bg-transparent  border col-12 d-flex p-2" type="button" data-bs-toggle="collapse"
                data-bs-target="#lession10" aria-expanded="false" aria-controls="collapseExample">
                <span><i class="fa-solid fa-angle-right me-2"></i>Data Analysis Techniques</span>
            </button>
            <div class="collapse ms-4" id="lession10">
                <ol class="card card-body border-0 p-0">
                    <li class="my-1"> <p class="text-decoration-none text-primary lession-query  " >Satellite Design</p></li>
                    <li class="my-1"> <p class="text-decoration-none text-primary lession-query  " >Purpose of Launching Satellite</p></li>
                    <li class="my-1"> <p class="text-decoration-none text-primary lession-query  " >Satellite Payload and Orbit </p></li>
                    <li class="my-1"> <p class="text-decoration-none text-primary lession-query  " >Earth Observation</p></li>
                </ol>
            </div>
    
            <button class="bg-transparent  border col-12 d-flex p-2" type="button" data-bs-toggle="collapse"
                data-bs-target="#lession11" aria-expanded="false" aria-controls="collapseExample">
                <span><i class="fa-solid fa-angle-right me-2"></i>Applications of PACE Data</span>
            </button>
            <div class="collapse ms-4" id="lession11">
                <ol class="card card-body border-0 p-0">
                    <li class="my-1"> <p class="text-decoration-none text-primary lession-query  " >Satellite Design</p></li>
                    <li class="my-1"> <p class="text-decoration-none text-primary lession-query  " >Purpose of Launching Satellite</p></li>
                    <li class="my-1"> <p class="text-decoration-none text-primary lession-query  " >Satellite Payload and Orbit </p></li>
                    <li class="my-1"> <p class="text-decoration-none text-primary lession-query  " >Earth Observation</p></li>
                </ol>
            </div>
        </div>
        <div class="lesson-resopse col-md-8 px-4">
            <%- include("./lessonData.ejs") %>
        </div>
    </div>