<% layout("/layouts/layout.ejs") %>

    <div class="d-flex flex-wrap">
        <div class="offcanvas-body col-md-4">
            <button class="bg-transparent  border col-12 d-flex p-2" type="button" data-bs-toggle="collapse"
                data-bs-target="#lession1" aria-expanded="false" aria-controls="collapseExample">
                <span><i class="fa-solid fa-angle-right me-2"></i>Introduction to PACE</span>
            </button>
            <div class="collapse ms-4" id="lession1">
                <ol class="card card-body border-0 p-0">
                    <li class="my-1"> <a href="/" class="text-decoration-none text-primary">Welcome to PACE</a></li>
                    <li class="my-1"> <a href="/" class="text-decoration-none text-primary" >What is PACE ?</a></li>
                    <li class="my-1"> <a href="/" class="text-decoration-none text-primary" >History of PACE </a></li>
                    <li class="my-1"> <a href="/" class="text-decoration-none text-primary" >PACE Science</a></li>
                </ol>
            </div>
    
            <button class="bg-transparent  border col-12 d-flex p-2" type="button" data-bs-toggle="collapse"
                data-bs-target="#lession2" aria-expanded="false" aria-controls="collapseExample">
                <span><i class="fa-solid fa-angle-right me-2"></i>The PACE Satellite</span>
            </button>
            <div class="collapse ms-4" id="lession2">
                <ol class="card card-body border-0 p-0">
                    <li class="my-1"> <a href="#" class="text-decoration-none text-primary  " >Satellite Design</a></li>
                    <li class="my-1"> <a href="#" class="text-decoration-none text-primary  " >Purpose of Launching Satellite</a></li>
                    <li class="my-1"> <a href="#" class="text-decoration-none text-primary  " >Satellite Payload and Orbit </a></li>
                    <li class="my-1"> <a href="#" class="text-decoration-none text-primary  " >Earth Observation</a></li>
                </ol>
            </div>
    
            <button class="bg-transparent  border col-12 d-flex p-2" type="button" data-bs-toggle="collapse"
                data-bs-target="#lession3" aria-expanded="false" aria-controls="collapseExample">
                <span><i class="fa-solid fa-angle-right me-2"></i>PACE Instruments Overview</span>
            </button>
            <div class="collapse ms-4" id="lession3">
                <ol class="card card-body border-0 p-0">
                    <li class="my-1"> <a href="#" class="text-decoration-none text-primary  " >Introduction to onboad Instruments</a></li>
                    <li class="my-1"> <a href="#" class="text-decoration-none text-primary  " >Ocean Color Instrument (OCI)</a></li>
                    <li class="my-1"> <a href="#" class="text-decoration-none text-primary  " >Hyperspectral Imager for Climate Science (HICS)</a></li>
                    <li class="my-1"> <a href="#" class="text-decoration-none text-primary  " >Aerosol and Cloud Imager (ACI)</a></li>
                </ol>
            </div>
    
            <button class="bg-transparent  border col-12 d-flex p-2" type="button" data-bs-toggle="collapse"
                data-bs-target="#lession4" aria-expanded="false" aria-controls="collapseExample">
                <span><i class="fa-solid fa-angle-right me-2"></i>Understanding Ocean Color</span>
            </button>
            <div class="collapse ms-4" id="lession4">
                <ol class="card card-body border-0 p-0">
                    <li class="my-1"> <a href="#" class="text-decoration-none text-primary  " >Importance of Ocean Color</a></li>
                    <li class="my-1"> <a href="#" class="text-decoration-none text-primary  " >How it is measured ?</a></li>
                    <li class="my-1"> <a href="#" class="text-decoration-none text-primary  " >Chlorophyll</a></li>
                    <li class="my-1"> <a href="#" class="text-decoration-none text-primary  " >Fytoplancton</a></li>
                    <li class="my-1"> <a href="#" class="text-decoration-none text-primary  " >Absorbsion </a></li>
                    <li class="my-1"> <a href="#" class="text-decoration-none text-primary  " >Reflectance</a></li>
                </ol>
            </div>
    
            <button class="bg-transparent  border col-12 d-flex p-2" type="button" data-bs-toggle="collapse"
                data-bs-target="#lession5" aria-expanded="false" aria-controls="collapseExample">
                <span><i class="fa-solid fa-angle-right me-2"></i>Plankton and Their Role in Ecosystems</span>
            </button>
            <div class="collapse ms-4" id="lession5">
                <ol class="card card-body border-0 p-0">
                    <li class="my-1"> <a href="#" class="text-decoration-none text-primary  " >Types of Phytoplactons</a></li>
                    <li class="my-1"> <a href="#" class="text-decoration-none text-primary  " >Phytoplacton and Zooplancton </a></li>
                    <li class="my-1"> <a href="#" class="text-decoration-none text-primary  " >Their Significance in Marine Ecosystem</a></li>
                    <li class="my-1"> <a href="#" class="text-decoration-none text-primary  " >Primary Production and Food Web</a></li>
                </ol>
            </div>
    
            <button class="bg-transparent  border col-12 d-flex p-2" type="button" data-bs-toggle="collapse"
                data-bs-target="#lession6" aria-expanded="false" aria-controls="collapseExample">
                <span><i class="fa-solid fa-angle-right me-2"></i>Plankton Species Diversity</span>
            </button>
            <div class="collapse ms-4" id="lession6">
                <ol class="card card-body border-0 p-0">
                    <li class="my-1"> <a href="#" class="text-decoration-none text-primary  " >Introduction to various species of Plancton</a></li>
                    <li class="my-1"> <a href="#" class="text-decoration-none text-primary  " >Diatoms and Dinoflagellates</a></li>
                    <li class="my-1"> <a href="#" class="text-decoration-none text-primary  " >Taxonomy </a></li>
                    <li class="my-1"> <a href="#" class="text-decoration-none text-primary  " >Species Identification </a></li>
                    <li class="my-1"> <a href="#" class="text-decoration-none text-primary  " >Ecological Roles</a></li>
                </ol>
            </div>
    
            <button class="bg-transparent  border col-12 d-flex p-2" type="button" data-bs-toggle="collapse"
                data-bs-target="#lession7" aria-expanded="false" aria-controls="collapseExample">
                <span><i class="fa-solid fa-angle-right me-2"></i>Aerosols Overview</span>
            </button>
            <div class="collapse ms-4" id="lession7">
                <ol class="card card-body border-0 p-0">
                    <li class="my-1"> <a href="#" class="text-decoration-none text-primary  " >Understanding of Aerosols</a></li>
                    <li class="my-1"> <a href="#" class="text-decoration-none text-primary  " >Their effect on Climate and Ocean health</a></li>
                    <li class="my-1"> <a href="#" class="text-decoration-none text-primary  " >Types of Aerosols - Natural vs Anthropogenic </a></li>
                </ol>
            </div>
    
            <button class="bg-transparent  border col-12 d-flex p-2" type="button" data-bs-toggle="collapse"
                data-bs-target="#lession8" aria-expanded="false" aria-controls="collapseExample">
                <span><i class="fa-solid fa-angle-right me-2"></i>Cloud Properties and Their Importance</span>
            </button>
            <div class="collapse ms-4" id="lession8">
                <ol class="card card-body border-0 p-0">
                    <li class="my-1"> <a href="#" class="text-decoration-none text-primary  " >Role of Cloud in Earth's Climate Ecosystem</a></li>
                    <li class="my-1"> <a href="#" class="text-decoration-none text-primary  " >How they Measured ?</a></li>
                    <li class="my-1"> <a href="#" class="text-decoration-none text-primary  " >Cloud Cover</a></li>
                    <li class="my-1"> <a href="#" class="text-decoration-none text-primary  " >cloud optical properties</a></li>
                </ol>
            </div>
    
            <button class="bg-transparent  border col-12 d-flex p-2" type="button" data-bs-toggle="collapse"
                data-bs-target="#lession9" aria-expanded="false" aria-controls="collapseExample">
                <span><i class="fa-solid fa-angle-right me-2"></i>Ocean Ecosystem Health</span>
            </button>
            <div class="collapse ms-4" id="lession9">
                <ol class="card card-body border-0 p-0">
                    <li class="my-1"> <a href="#" class="text-decoration-none text-primary  " >Satellite Design</a></li>
                    <li class="my-1"> <a href="#" class="text-decoration-none text-primary  " >Purpose of Launching Satellite</a></li>
                    <li class="my-1"> <a href="#" class="text-decoration-none text-primary  " >Satellite Payload and Orbit </a></li>
                    <li class="my-1"> <a href="#" class="text-decoration-none text-primary  " >Earth Observation</a></li>
                </ol>
            </div>
    
            <button class="bg-transparent  border col-12 d-flex p-2" type="button" data-bs-toggle="collapse"
                data-bs-target="#lession10" aria-expanded="false" aria-controls="collapseExample">
                <span><i class="fa-solid fa-angle-right me-2"></i>Data Analysis Techniques</span>
            </button>
            <div class="collapse ms-4" id="lession10">
                <ol class="card card-body border-0 p-0">
                    <li class="my-1"> <a href="#" class="text-decoration-none text-primary  " >Satellite Design</a></li>
                    <li class="my-1"> <a href="#" class="text-decoration-none text-primary  " >Purpose of Launching Satellite</a></li>
                    <li class="my-1"> <a href="#" class="text-decoration-none text-primary  " >Satellite Payload and Orbit </a></li>
                    <li class="my-1"> <a href="#" class="text-decoration-none text-primary  " >Earth Observation</a></li>
                </ol>
            </div>
    
            <button class="bg-transparent  border col-12 d-flex p-2" type="button" data-bs-toggle="collapse"
                data-bs-target="#lession11" aria-expanded="false" aria-controls="collapseExample">
                <span><i class="fa-solid fa-angle-right me-2"></i>Applications of PACE Data</span>
            </button>
            <div class="collapse ms-4" id="lession11">
                <ol class="card card-body border-0 p-0">
                    <li class="my-1"> <a href="#" class="text-decoration-none text-primary  " >Satellite Design</a></li>
                    <li class="my-1"> <a href="#" class="text-decoration-none text-primary  " >Purpose of Launching Satellite</a></li>
                    <li class="my-1"> <a href="#" class="text-decoration-none text-primary  " >Satellite Payload and Orbit </a></li>
                    <li class="my-1"> <a href="#" class="text-decoration-none text-primary  " >Earth Observation</a></li>
                </ol>
            </div>
        </div>
        <div class="lesson-resopse col-md-8 px-4">
            <%- include("./lessonData.ejs") %>
        </div>
    </div>