<% layout("/layouts/layout.ejs") %>

    <div class="d-flex flex-wrap lesson-box">
        <div class="offcanvas-body col-md-4 col-lg-3">
            <button class="bg-transparent  border col-12 d-flex p-2" type="button" data-bs-toggle="collapse"
                data-bs-target="#lession1" aria-expanded="false" aria-controls="collapseExample">
                <span><i class="fa-solid fa-angle-right me-2"></i>Introduction to PACE</span>
            </button>
            <div class="collapse ms-4" id="lession1">
                <ol class="card card-body p-0 border-0">
                    <li class="mt-1"> <p class="text-decoration-none text-primary lession-query" id="topic1">Welcome to PACE</p></li>
                    <li class="mt-1"> <p class="text-decoration-none text-primary lession-query" id="topic2">What is PACE ?</p></li>
                    <li class="mt-1"> <p class="text-decoration-none text-primary lession-query" id="topic3">History of PACE </p></li>
                    <li class="mt-1"> <p class="text-decoration-none text-primary lession-query" id="topic4" >PACE Science</p></li>
                </ol>
            </div>
    
            <button class="bg-transparent  border col-12 d-flex p-2" type="button" data-bs-toggle="collapse"
                data-bs-target="#lession2" aria-expanded="false" aria-controls="collapseExample">
                <span><i class="fa-solid fa-angle-right me-2"></i>The PACE Satellite</span>
            </button>
            <div class="collapse ms-4" id="lession2">
                <ol class="card card-body border-0 p-0">
                    <li class="mt-1"> <p class="text-decoration-none text-primary lession-query" id="topic5" >Satellite Design</p></li>
                    <li class="mt-1"> <p class="text-decoration-none text-primary lession-query" id="topic6" >Purpose of Launching Satellite</p></li>
                    <li class="mt-1"> <p class="text-decoration-none text-primary lession-query" id="topic7" >Satellite Payload and Orbit </p></li>
                    <li class="mt-1"> <p class="text-decoration-none text-primary lession-query" id="topic8" >Earth Observation</p></li>
                </ol>
            </div>
    
            <button class="bg-transparent  border col-12 d-flex p-2" type="button" data-bs-toggle="collapse"
                data-bs-target="#lession3" aria-expanded="false" aria-controls="collapseExample">
                <span><i class="fa-solid fa-angle-right me-2"></i>PACE Instruments Overview</span>
            </button>
            <div class="collapse ms-4" id="lession3">
                <ol class="card card-body border-0 p-0">
                    <li class="mt-1"> <p class="text-decoration-none text-primary lession-query" id="topic9" >Introduction to onboad Instruments</p></li>
                    <li class="mt-1"> <p class="text-decoration-none text-primary lession-query" id="topic10" >Ocean Color Instrument (OCI)</p></li>
                    <li class="mt-1"> <p class="text-decoration-none text-primary lession-query" id="topic11" >Hyperspectral Imager for Climate Science (HICS)</p></li>
                    <li class="mt-1"> <p class="text-decoration-none text-primary lession-query" id="topic12" >Aerosol and Cloud Imager (ACI)</p></li>
                </ol>
            </div>
    
            <button class="bg-transparent  border col-12 d-flex p-2" type="button" data-bs-toggle="collapse"
                data-bs-target="#lession4" aria-expanded="false" aria-controls="collapseExample">
                <span><i class="fa-solid fa-angle-right me-2"></i>Understanding Ocean Color</span>
            </button>
            <div class="collapse ms-4" id="lession4">
                <ol class="card card-body border-0 p-0">
                    <li class="mt-1"> <p class="text-decoration-none text-primary lession-query" id="topic13" >Importance of Ocean Color</p></li>
                    <li class="mt-1"> <p class="text-decoration-none text-primary lession-query" id="topic14" >How it is measured ?</p></li>
                    <li class="mt-1"> <p class="text-decoration-none text-primary lession-query" id="topic15" >Chlorophyll</p></li>
                    <li class="mt-1"> <p class="text-decoration-none text-primary lession-query" id="topic16" >Fytoplancton</p></li>
                    <li class="mt-1"> <p class="text-decoration-none text-primary lession-query" id="topic17" >Absorbsion </p></li>
                    <li class="mt-1"> <p class="text-decoration-none text-primary lession-query" id="topic18" >Reflectance</p></li>
                </ol>
            </div>
    
            <button class="bg-transparent  border col-12 d-flex p-2" type="button" data-bs-toggle="collapse"
                data-bs-target="#lession5" aria-expanded="false" aria-controls="collapseExample">
                <span><i class="fa-solid fa-angle-right me-2"></i>Plankton and Their Role in Ecosystems</span>
            </button>
            <div class="collapse ms-4" id="lession5">
                <ol class="card card-body border-0 p-0">
                    <li class="mt-1"> <p class="text-decoration-none text-primary lession-query" id="topic19" >Types of Phytoplactons</p></li>
                    <li class="mt-1"> <p class="text-decoration-none text-primary lession-query" id="topic20" >Phytoplacton and Zooplancton </p></li>
                    <li class="mt-1"> <p class="text-decoration-none text-primary lession-query" id="topic21" >Their Significance in Marine Ecosystem</p></li>
                </ol>
            </div>
    
            <button class="bg-transparent  border col-12 d-flex p-2" type="button" data-bs-toggle="collapse"
                data-bs-target="#lession6" aria-expanded="false" aria-controls="collapseExample">
                <span><i class="fa-solid fa-angle-right me-2"></i>Plankton Species Diversity</span>
            </button>
            <div class="collapse ms-4" id="lession6">
                <ol class="card card-body border-0 p-0">
                    <li class="mt-1"> <p class="text-decoration-none text-primary lession-query" id="topic23" >Introduction to various species of Plancton</p></li>
                    <li class="mt-1"> <p class="text-decoration-none text-primary lession-query" id="topic24" >Diatoms and Dinoflagellates</p></li>
                </ol>
            </div>
    
            <button class="bg-transparent  border col-12 d-flex p-2" type="button" data-bs-toggle="collapse"
                data-bs-target="#lession7" aria-expanded="false" aria-controls="collapseExample">
                <span><i class="fa-solid fa-angle-right me-2"></i>Aerosols Overview</span>
            </button>
            <div class="collapse ms-4" id="lession7">
                <ol class="card card-body border-0 p-0">
                    <li class="mt-1"> <p class="text-decoration-none text-primary lession-query" id="topic28" >Understanding of Aerosols</p></li>
                    <li class="mt-1"> <p class="text-decoration-none text-primary lession-query" id="topic29" >Their effect on Climate and Ocean health</p></li>
                    <li class="mt-1"> <p class="text-decoration-none text-primary lession-query" id="topic30" >Types of Aerosols - Natural vs Anthropogenic </p></li>
                </ol>
            </div>
    
            <button class="bg-transparent  border col-12 d-flex p-2" type="button" data-bs-toggle="collapse"
                data-bs-target="#lession8" aria-expanded="false" aria-controls="collapseExample">
                <span><i class="fa-solid fa-angle-right me-2"></i>Cloud Properties and Their Importance</span>
            </button>
            <div class="collapse ms-4" id="lession8">
                <ol class="card card-body border-0 p-0">
                    <li class="mt-1"> <p class="text-decoration-none text-primary lession-query" id="topic31" >Role of Cloud in Earth's Climate Ecosystem</p></li>
                    <li class="mt-1"> <p class="text-decoration-none text-primary lession-query" id="topic32" >How they Measured ?</p></li>
                    <li class="mt-1"> <p class="text-decoration-none text-primary lession-query" id="topic33" >Cloud Cover and cloud optical properties</p></li>
                </ol>
            </div>
    
            <button class="bg-transparent  border col-12 d-flex p-2" type="button" data-bs-toggle="collapse"
                data-bs-target="#lession9" aria-expanded="false" aria-controls="collapseExample">
                <span><i class="fa-solid fa-angle-right me-2"></i>Ocean Ecosystem Health</span>
            </button>
            <div class="collapse ms-4" id="lession9">
                <ol class="card card-body border-0 p-0">
                    <li class="mt-1"> <p class="text-decoration-none text-primary lession-query" id="topic35" >Overview of ocean ecosystems and their health indicators.</p></li>
                    <li class="mt-1"> <p class="text-decoration-none text-primary lession-query" id="topic36" >Ecosystem Services</p></li>
                    <li class="mt-1"> <p class="text-decoration-none text-primary lession-query" id="topic37" >Biodiversity </p></li>
                    <li class="mt-1"> <p class="text-decoration-none text-primary lession-query" id="topic38" >Habitats</p></li>
                </ol>
            </div>
    
            <button class="bg-transparent  border col-12 d-flex p-2" type="button" data-bs-toggle="collapse"
                data-bs-target="#lession10" aria-expanded="false" aria-controls="collapseExample">
                <span><i class="fa-solid fa-angle-right me-2"></i>Data Analysis Techniques</span>
            </button>
            <div class="collapse ms-4" id="lession10">
                <ol class="card card-body border-0 p-0">
                    <li class="mt-1"> <p class="text-decoration-none text-primary lession-query" id="topic39" >Techniques for analyzing data collected by the PACE satellite.</p></li>
                    <li class="mt-1"> <p class="text-decoration-none text-primary lession-query" id="topic40" >Algorithms</p></li>
                    <li class="mt-1"> <p class="text-decoration-none text-primary lession-query" id="topic41" >Data visusallization </p></li>
                    <li class="mt-1"> <p class="text-decoration-none text-primary lession-query" id="topic42" >Statistical Methods</p></li>
                </ol>
            </div>
    
            <button class="bg-transparent  border col-12 d-flex p-2" type="button" data-bs-toggle="collapse"
                data-bs-target="#lession11" aria-expanded="false" aria-controls="collapseExample">
                <span><i class="fa-solid fa-angle-right me-2"></i>Applications of PACE Data</span>
            </button>
            <div class="collapse ms-4" id="lession11">
                <ol class="card card-body border-0 p-0">
                    <li class="mt-1"> <p class="text-decoration-none text-primary lession-query" id="topic43" >Practical applications of PACE data in research,</p></li>
                    <li class="mt-1"> <p class="text-decoration-none text-primary lession-query" id="topic44" >policy making and environmental monitering</p></li>
                    <li class="mt-1"> <p class="text-decoration-none text-primary lession-query" id="topic45" >Resource Management </p></li>
                    <li class="mt-1"> <p class="text-decoration-none text-primary lession-query" id="topic46" >Climate modeling and conservation</p></li>
                </ol>
            </div>
        </div>
        <div class="lesson-resopse col-md-8 col-lg-9 col-12 p-4">
            <%- include("./lessonData.ejs") %>
        </div>
    </div>