<footer>
    <div class="border-top pt-3 pb-3 d-flex flex-wrap justify-content-evenly">
        <!-- Brand and Social Links -->
        
            <div class="col-md-3 col-12 mb-4">
                <div class="brand-box text-center mb-3">
                    <a href="/jobhelper" class="navbar-brand fs-1 fw-bold header-navbar-brand">
                        PACE
                    </a>
                </div>
                <div class="social-box col-12 text-center">
                    <b>Connect With Us</b>
                    <ul class="d-flex justify-content-center list-unstyled mt-2">
                        <li><a href="" class="p-2 fs-3"><i class="fa-brands fa-square-facebook"></i></a></li>
                        <li><a href="" class="p-2 fs-3"><i class="fa-brands fa-square-instagram"></i></a></li>
                        <li><a href="" class="p-2 fs-3"><i class="fa-brands fa-linkedin"></i></a></li>
                        <li><a href="" class="p-2 fs-3"><i class="fa-brands fa-youtube"></i></a></li>
                        <li><a href="" class="p-2 fs-3"><i class="fa-brands fa-square-github"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-8 col-12">
                <div class="footer-links d-flex flex-wrap">
                    <div class="col-6 col-md-3 mb-3">
                        <a href="#" class="text-decoration-none d-block">About Us</a>
                    </div>
                    <div class="col-6 col-md-3 mb-3">
                        <a href="#" class="text-decoration-none d-block">Help Center</a>
                    </div>
                    <div class="col-6 col-md-3 mb-3">
                        <a href="#" class="text-decoration-none d-block">Privacy & Policy</a>
                    </div>
                    <div class="col-6 col-md-3 mb-3">
                        <a href="#" class="text-decoration-none d-block">Careers</a>
                    </div>
                    <div class="col-6 col-md-3 mb-3">
                        <a href="#" class="text-decoration-none d-block">Terms & Conditions</a>
                    </div>
                    <div class="col-6 col-md-3 mb-3">
                        <a href="#" class="text-decoration-none d-block">Report Issue</a>
                    </div>
                    <div class="col-6 col-md-3 mb-3">
                        <a href="#" class="text-decoration-none d-block">Safety</a>
                    </div>
                    <div class="col-6 col-md-3 mb-3">
                        <a href="#" class="text-decoration-none d-block">Credits</a>
                    </div>
                    <div class="col-6 col-md-3 mb-3">
                        <a href="#" class="text-decoration-none d-block">Complaints</a>
                    </div>
                    <div class="col-6 col-md-3 mb-3">
                        <a href="#" class="text-decoration-none d-block">Partnerships</a>
                    </div>
                    <div class="col-6 col-md-3 mb-3">
                        <a href="#" class="text-decoration-none d-block">Skills</a>
                    </div>
                    <div class="col-6 col-md-3 mb-3">
                        <a href="#" class="text-decoration-none d-block">Companies</a>
                    </div>
                    <div class="col-6 col-md-3 mb-3">
                        <a href="#" class="text-decoration-none d-block">Send Feedback</a>
                    </div>
                    <div class="col-6 col-md-3 mb-3">
                        <a href="#" class="text-decoration-none d-block">Freelancing</a>
                    </div>
                    <div class="col-6 col-md-3 mb-3">
                        <a href="#" class="text-decoration-none d-block">Call Center</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="my-1">
    <p class="copyright text-center mb-0 text-secondary">
        All rights reserved &copy; <%= (new Date().getFullYear()) %> info Edg (India) LTD.
    </p>
</footer>
